Options +FollowSymLinks
RewriteEngine On

RewriteBase /
RewriteCond %{SCRIPT_FILENAME} !-f
RewriteCond %{SCRIPT_FILENAME} !-d

#RewriteRule ^(.*)$ /index.php/$1 [L]

RewriteRule ^checkout_status/?$ checkout_status.php [L]
RewriteRule ^tienda/$  tienda.php [L]
RewriteRule ^tienda$  tienda.php [L]
RewriteRule ^contacto/$  contacto.php [L]
RewriteRule ^contacto$  contacto.php [L]
RewriteRule ^revelar-fotos/$ revelado_1.php [L]
RewriteRule ^revelar-fotos$ revelado_1.php [L]
RewriteRule ^revelado-paso2$ revelado_2.php [L]
RewriteRule ^revelado-paso3$ revelado_3.php [L]
RewriteRule ^revelado-paso4$ revelado_4.php [L]
RewriteRule ^mi-pedido$ miCarro.php [L]
RewriteRule ^checkout$ checkout_1.php [L]
RewriteRule ^checkout-pago$ checkout_2.php [L]
RewriteRule ^checkout-resultado$ checkout_3.php [L]
RewriteRule ^tienda/([a-zA-Z0-9-]+)_([a-zA-Z0-9-]+)/$  tienda.php?id=$1 [L]
RewriteRule ^tienda/([a-zA-Z0-9-]+)_([a-zA-Z0-9-]+)$  tienda.php?id=$1 [L]
RewriteRule ^producto/([a-zA-Z0-9-]+)_([a-zA-Z0-9-]+)$ producto.php?id=$1 [L]
RewriteRule ^recuperar/([a-zA-Z0-9-]+)$  index.php?code=$1 [L]
RewriteRule ^quienes-somos$  index.php#quienes-somos [NE,R]
